<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Vue JS</title>
</head>

<body>
    <div id="component">

        <h4>DEMO v-if="condition"</h4>
        <p v-if='show'>{{ message }}</p>
        <p v-else='show'><b>{{ message2 }}</b></p>

        <h4>DEMO v-on:event="handle"</h4>
        <button v-on:click="process('This is Process')">Process</button>
        <p>{{ showProcess }}</p>

        <h4> DEMO v-model="something"</h4>
        <input type="text" v-model="kilometer">
        <input type="text" v-model="meter">
        <br>

        <h4> DEMO v-model on textarea</h4>
        <p style="white-space: pre-line;">{{ textarea }}</p>
        <textarea cols="30" rows="10" v-model="textarea">
        </textarea>
        <br>

        <h4> DEMO v-model on radiobutton</h4>
        <input type="radio" v-model="radiobutton" value="option1"> Option 1
        <input type="radio" v-model="radiobutton" value="option2"> Option 2
        <p>Radio Button {{ radiobutton }}</p>

        <h4> DEMO v-model on checkbox</h4>
        <label for="">Red</label>
        <input type="checkbox" value="Red" v-model="checkbox">
        <label for="">Blue</label>
        <input type="checkbox" value="Blue" v-model="checkbox">
        <label for="">Black</label>
        <input type="checkbox" value="Black" v-model="checkbox">
        <p>Fav Color is {{ checkbox }}</p>
        <ul>
            <li v-for="choice in checkbox">{{ choice }}</li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        const vo = new Vue({
            el: '#component',
            data: {
                nama: 'Sheva Athalla',
                umur: 100,
                message: 'Show = True',
                message2: 'Belajar Vue JS',
                show: true,
                showProcess: null,
                kilometer: 0,
                meter: 0,
                textarea: '',
                radiobutton: 0,
                checkbox: [],
            },
            computed: {
                biodata: {
                    get: function () {
                        return `${this.nama} memiliki umur ${this.umur}`
                    },
                    set: function (params) {
                        let cridentials = params.split(',')
                        this.nama = cridentials[0]
                        this.umur = cridentials[1]
                    },
                }
            },
            methods: {
                process: function (text) {
                    this.showProcess = text
                }
            },
            watch: {
                kilometer: function (val) {
                    this.kilometer = val;
                    this.meter = val * 1000;
                },
                meter: function (val) {
                    this.meter = val;
                    this.kilometer = val / 1000;
                }
            },

        });
    </script>
</body>

</html>